#search, #searchIcon, #searchInput{
    border: 1px;
    padding: 0;
    margin: 0;
}
#search{
    width: 500px;
    height: 40px;
    display: flex;
}
#searchInput{
    width: 460px;
    height: inherit;
}
#searchIcon,#searchButton{
    border: 0;
    padding: 0;
    width: 40px;
    height: inherit;
}