#store{
    grid-column: auto;
    background-color: aqua;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
}


#storeImg, #storeText{
    width: 260px;
    margin-left: 20px;
    margin-right: 20px;
}
#storeImg{
    background-color: yellow;
    height: 260px;
    margin-top: 20px;
    margin-bottom: 10px;

}
#storeText{
    background-color: blanchedalmond;
    height: 80px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#stores{
    width: 1320px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 40px 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


