<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.cake.dao.StoreDAO">
    <select id="selectAllStore" resultType="StoreEntity">
        select * from store;
    </select>
    <select id="selectAllStoreBySearch" resultType="StoreEntity">
        select * from store
        where s_name like CONCAT('%',#{search },'%')
        or s_loc like CONCAT('%',#{search },'%')
        or s_ctnt like CONCAT('%',#{search },'%')
    </select>
    <select id="selectStoreBySPk" resultType="StoreEntity">
        select * from store
        where s_pk = #{s_pk}
    </select>
    <select id="selectStoreByUPk" resultType="StoreEntity">
        select * from store
        where u_pk = #{u_pk}
    </select>
    <insert id="insertStoreInfo">
        insert into store
            (s_name,s_loc,s_time,s_ctnt,s_profile,u_pk)
        values
            (#{s_name},#{s_loc},#{s_time},#{s_ctnt},#{s_profile},#{u_pk})
    </insert>
    <select id="selectStoreDuple" resultType="int">
        select count(*) from store
        where u_pk = #{u_pk}
    </select>
    <update id="updateStoreInfo">
        update store set
        s_name = #{s_name},
        s_loc = #{s_loc},
        s_time = #{s_time},
        s_ctnt = #{s_ctnt}
        where u_pk = #{u_pk}
    </update>
</mapper>