<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.cake.dao.StoreDAO">
    <select id="selectAllStore" resultType="StoreEntity">
        select * from store;
    </select>
    <select id="selectAllStoreBySearch" resultType="StoreEntity">
        select * from store
        where s_name like CONCAT('%',#{search },'%')
        or s_loc like CONCAT('%',#{search },'%')
        or s_ctnt like CONCAT('%',#{search },'%')
    </select>
    <select id="selectStoreByUPk" resultType="StoreEntity">
        select * from store
        where u_pk = #{u_pk}
    </select>
    <select id="selectStoreBySPk" resultType="StoreEntity">
        select * from store
        where s_pk = #{s_pk}
    </select>

    <select id="selectMenusBySPk" resultType="MenuDTO">
        select * from menu
        where s_pk = #{s_pk}
    </select>
    <select id="selectMenuPictureByMPk" resultType="M_PictureEntity">
        select * from m_picture
        where m_pk = #{m_pk}
    </select>

<!--    -->
    <select id="selectStoreDuple" resultType="_int">
        select count(*) from store
        where u_pk = #{u_pk}
    </select>
    <select id="selectSPkByUPk" resultType="_int">
        select s_pk from store
        where u_pk = #{u_pk}
    </select>

    <insert id="insertStoreInfo">
        insert into store
            (s_name,s_loc,s_time,s_ctnt,u_pk)
        values
            (#{s_name},#{s_loc},#{s_time},#{s_ctnt},#{u_pk})
    </insert>
    <update id="updateStoreInfo">
        update store set
        s_name = #{s_name},
        s_loc = #{s_loc},
        s_time = #{s_time},
        s_ctnt = #{s_ctnt}
        where u_pk = #{u_pk}
    </update>

    <insert id="insertMenuInfo">
        insert into menu
            (m_ctnt,s_pk)
        values
            (#{m_ctnt},#{s_pk})
    </insert>
    <delete id="deleteMenuInfo">
        delete from menu
        where m_pk = #{m_pk}
    </delete>
</mapper>